
.cards-section {
  display: flex;
  justify-content: center;
  gap: 2rem;
  padding: 3rem 1rem;
  background-color: #F4F4F4;
}

.card {
  background: #6d95ff;
  color: white;
  text-align: center;
  padding: 2rem;
  border-radius: 30px;
  width: 300px;
  height: 220px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  transition: transform 0.3s ease;
}

.card:hover {
  transform: translateY(-5px);
  box-shadow: 0 5px 15px rgba(0, 0, 0.2, 0.5);
}

.card h2 {
  font-size: 3rem;
  font-weight: bold;
  margin-bottom: 0.5rem;
}

.card p {
  font-size: 1.5rem;
}


@media (max-width: 968px) {
  .cards-section {
    gap: 1.5rem;
  }
  .card {
    width: 45%;   
    height: auto;
    padding: 1.5rem;
  }
  .card h2 {
    font-size: 2.5rem;
  }
  .card p {
    font-size: 1.2rem;
  }
}

@media (max-width: 600px) {
  .cards-section {
    flex-direction: column;
    align-items: center;
  }
  .card {
    width: 90%;   
    max-width: 350px;
  }
  .card h2 {
    font-size: 2rem;
  }
  .card p {
    font-size: 1rem;
  }
}
